* {
  padding: 0;
  margin: 0;
}
html,
body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}
ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  column-gap: 1rem;
}
ul li a {
  text-decoration: none;
  padding: 0.3rem 1rem;
  color: white;
  font-weight: 600;
  font-size: 1.6rem;
  position: relative;
  transition: all 0.5s;
}
ul li a::before {
  content: "";
  position: absolute;
  bottom: 8px;
  left: 8px;
  height: 12px;
  width: 12px;
  /* background-color: rgb(215, 1, 37); */
  border-left: 3px solid rgb(215, 1, 37);
  border-bottom: 3px solid rgb(215, 1, 37);
  transition: all 0.5s;
  opacity: 0;
}
ul li a::after {
  content: "";
  position: absolute;
  top: 8px;
  right: 8px;
  height: 12px;
  width: 12px;
  /* background-color: rgb(215, 1, 37); */
  border-right: 3px solid rgb(215, 1, 37);
  border-top: 3px solid rgb(215, 1, 37);
  opacity: 0;
  transition: all 0.5s;
}
ul li a:hover::before {
  opacity: 1;
  left: -8px;
  bottom: -8px;
  transform: scale(1);
}
ul li a:hover::after {
  opacity: 1;
  right: -8px;
  top: -8px;
  transform: scale(1);
}
ul li a:hover {
  background-color: rgb(215, 1, 37);
}
