* {
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 0.6rem;
  font-size: 3rem;
  font-weight: 700;
  position: relative;
  color: white;
}
h1::before {
  content: "text";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  color: rgb(255, 100, 126);
  overflow: hidden;
  transition: all 2s;
}
h1:hover::before {
  width: 100%;
}
