* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #272727;
}
.slider {
  width: 800px;
  height: 400px;
  background-color: url(https://tinyurl.com/yfkn597u);
  animation: change-bg 10s linear infinite;
}

@keyframes change-bg {
  0% {
    background: url(https://tinyurl.com/yfkn597u);
  }
  20% {
    background: url(https://tinyurl.com/yfkn597u);
  }
  25% {
    background: url(https://tinyurl.com/mr2r8936);
  }
  45% {
    background: url(https://tinyurl.com/mr2r8936);
  }
  50% {
    background: url(https://tinyurl.com/h4aw4cw2);
  }
  70% {
    background: url(https://tinyurl.com/h4aw4cw2);
  }
  75% {
    background: url(https://tinyurl.com/2vynzkj7);
  }
  100% {
    background: url(https://tinyurl.com/5ameyz8s);
  }
}
