* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.btn {
  text-decoration: none;
  color: rgb(0, 248, 215);
  font-size: larger;
  border: 2px solid white;
  padding: 2rem;
  width: 200px;
  text-align: center;
  position: relative;
  transition: all 1s;
  letter-spacing: -1px;
  overflow: hidden;
}
.btn:before {
  content: "";
  position: absolute;
  top: 1;
  left: 0;
  background-color: white;
  width: 100%;
  height: 10px;
  transform: translateX(-100%) rotate(45deg);
  transition: transform 1s;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
}

.btn:hover::before {
  transform: translateX(100%) rotate(45deg);
}

.btn:hover {
  color: white;
  background-color: brown;
  font-weight: 900;
}
