* {
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  animation: float 3s linear infinite alternate;
  /* Animation name "float" */
  /* Duration: 3 seconds */
  /* Timing function: linear (constant speed) */
  /* Iteration count: infinite (repeats indefinitely) */
  /* Direction: alternate (alternates between forwards and backwards) */
}

.container h1 {
  letter-spacing: 1rem;
  font-size: 4rem;
}

@keyframes float {
  from {
    transform: rotate(5deg);
  }
  to {
    transform: rotate(-5deg);
  }
}
