* {
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  animation: float 3s linear infinite alternate;
  /* Animation name "float" */
  /* Duration: 3 seconds */
  /* Timing function: linear (constant speed) */
  /* Iteration count: infinite (repeats indefinitely) */
  /* Direction: alternate (alternates between forwards and backwards) */
}

.container {
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 11px;
  perspective: 100px;
  animation: loading 2s linear infinite;
}

@keyframes loading {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: rotateX(0deg) rotateY(180deg);
  }
  100% {
    transform: rotateX(180deg) rotateY(180deg);
  }
}
