* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #272727;
}
h1 {
  font-size: 200px;
  text-align: center;
  text-transform: uppercase;
  background: url(./image.jpg);
  -webkit-background-clip: text;
  color: transparent;
  animation: textbackground 20s linear infinite;
}
@keyframes textbackground {
  form {
    background-position: 0 0;
  }
  to {
    background-position: 100% 100%;
  }
}
